@import 'color.scss';

@mixin buttonblue {
	background-color: $color-secondary-2-1;
	border: 1px solid $color-primary-4;
	color: white;
	border-radius: 1em;
	padding: 0.2em 1em;
}

* { box-sizing: border-box; }

html { font-size: 62.5%; }

body {
	font-size: 1.4em;
	background-color: $color-primary-4;
	color: $color-primary-0	;
	margin: 0;
	padding: 0;
}


header,
footer {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Cinzel Decorative', cursive;
		font-weight: 200;
	}
}

main h1 {
	font-family: 'Cinzel Decorative', cursive;
	border-bottom: 1px solid $color-primary-4;
	text-align: center;
}

a {
	color: $color-primary-1;
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	transition: all 0.5s;
}

header nav a:hover {
	color: white;
	transform: scale(1.2,1.2);
}

header {
	background: $color-secondary-2-4;
	color: $color-primary-1;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid $color-secondary-2-1;
	section {
		background: $color-secondary-2-0 url('../img/backheader.png') center bottom no-repeat;
		background-clip: content-box;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		div {
			flex: 0 1 80%;
			h1 {
				font-size: 6rem;
				padding: 1em 1em 0;
				margin: 0;
			}
			h2 {
				margin: 0;
				padding: 0 1em 1em;
			}
		}
		img {
			flex: 0 1 20%;
			padding: 1em;
			min-width: 0;
			min-height: 0;
			height: 200px;
		}
		nav {
			flex: 0 1 100%;
			display: flex;
			background-color: $color-secondary-2-1;
			justify-content: space-around;
			a {
				font-family: 'Lemon', cursive;
				flex: 0 1 auto;
				padding: 1em;
			}
		}
	}
}

footer {
	background-color: $color-secondary-2-3;
	color: $color-primary-1;
	margin: 0;
	padding: 0;
	section {
		padding: 1em;
		background-color: $color-secondary-2-0;
		display: flex;
		justify-content: space-around;
		article	{
			flex: 1 1 auto;

			h3 {
				text-align: center;
			}
			address {
				text-align: center;
			}
			nav {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-direction: column;
				a {
					margin-bottom: 1em;
				}
			}
			form {
				text-align: center;
				input {
					display: block;
					margin: 0 auto 1em;
					@include buttonblue();
				}
				button {
					@include buttonblue();
				}
			}
		}
	}
}

header > section,
main,
footer > section { max-width: 1100px; margin: 0 auto; }

main {
	background: $color-primary-1;
	padding: 1em;
	height: 100%;
}

table {
	width: 100%;
	border: 0;
	border-collapse: collapse;
	thead {
		tr {
			border-bottom: 1px solid $color-primary-2;
		}
	}
	tbody {
		tr {
			border-bottom: 1px solid $color-primary-2;
			td {
				padding: 0.1em 1em;
			}
			td:nth-child(2) {
				text-align: right;
			}
			td:nth-child(3) {
				text-align: right;
				input {
					border: 0;
					width: 3em;
				}
			}
		}
	}
}

fieldset {
	border: 1px solid $color-primary-4;
	border-radius: 1em;
	background-color: $color-primary-1;
	color: $color-primary-3;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1em;
	legend {
		color: white;
		font-weight: 900;
	}
	div {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		input {
			margin: 0.5em 0 1em;
		}
	}
	textarea {
		border-radius: 1em;
		padding: 0.5em;
	}
}

#presentation {
	display: flex;
	justify-content: space-between;
	margin: 1em 0 0;
	article {
		flex: 0 1 20%;
		background-color: $color-primary-2;
		padding: 1em;
		h3 {
			color: $color-primary-4;
			font-weight: 700;
			text-align: center;
			padding: 1em;
			
		}
		p {
			color: white;
		}
	}
}

#presentation article:first-child {
	flex: 0 1 80%;
	margin-right: 1em;
}

.thumb {
	max-width: 100%;
	background-color: white;
	padding: 3px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

#error {
	color: $col-error;
	border: 1px dashed $col-error;
	border-radius: 2em;
	text-align: center;
	width: 50%;
	padding: 0 1em;
	margin: 0 auto 2em;
	h2 {
		font-weight: 900;
	}
}

.products {
	border: 1px solid $color-primary-3;
	border-radius: 1em;
	margin-bottom: 2em;
	legend {
		font-size: 1.4em;
		text-align: center;
		display: block;
		width: 50%;
		background-color: $color-primary-3;
		border-radius: 1em;
		color: $color-primary-1;
		padding: 0.2em
	}
	section {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-end;
		article {
			flex-basis: 20%;
			padding: 1em;
			h4 {
				font-weight: 900;
			}
			img {
				max-width: 100%;
				border-radius: 1em;
				border: 1px solid $color-primary-3;
			}

		}
	}
}

.flex {
	display: flex;
	justify-content: space-between;
	div:nth-child(1) {
		flex: 0 1 70%;
	}
	div:nth-child(2) {
		flex: 0 1 20%;
	}
}

.yellow {
	color: goldenrod;
}

.black {
	color: black;
}