* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
  background-color: #200F02;
  color: #5A3A22;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 200;
}

a {
  color: #B08769;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: all 1s 1s;
}

a:hover, a:active, a:focus {
  color: white;
}

header {
  background: #030A16;
  color: #B08769;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #4A5975;
}

header section {
  background: #1A263C url("../img/backheader.png") center bottom no-repeat;
  background-clip: content-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

header section div {
  flex: 0 1 80%;
}

header section div h1 {
  font-size: 6rem;
  padding: 1em 1em 0;
  margin: 0;
}

header section div h2 {
  margin: 0;
  padding: 0 1em 1em;
}

header section img {
  flex: 0 1 20%;
  padding: 1em;
  min-width: 0;
  min-height: 0;
  height: 200px;
}

header section nav {
  flex: 0 1 100%;
  display: flex;
  background-color: #4A5975;
  justify-content: space-around;
}

header section nav a {
  font-family: 'Lemon', cursive;
  flex: 0 1 auto;
  padding: 1em;
}

footer {
  background-color: #0D1729;
  color: #B08769;
  margin: 0;
  padding: 0;
}

footer section {
  padding: 1em;
  background-color: #1A263C;
  display: flex;
  justify-content: space-around;
}

footer section article {
  flex: 1 1 auto;
}

footer section article h3 {
  text-align: center;
}

footer section article address {
  text-align: center;
}

footer section article nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

footer section article nav a {
  margin-bottom: 1em;
}

footer section article form {
  text-align: center;
}

footer section article form input {
  display: block;
  margin: 0 auto 1em;
  background-color: #4A5975;
  border: 1px solid #200F02;
  color: white;
  border-radius: 1em;
  padding: 0.2em 1em;
}

footer section article form button {
  background-color: #4A5975;
  border: 1px solid #200F02;
  color: white;
  border-radius: 1em;
  padding: 0.2em 1em;
}

header > section,
main,
footer > section {
  max-width: 1100px;
  margin: 0 auto;
}

main {
  background: #B08769;
  padding: 1em;
  height: 100%;
}

#presentation {
  display: flex;
  justify-content: space-between;
  margin: 1em 0 0;
}

#presentation article {
  flex: 0 1 30%;
  background-color: #6E523E;
  padding: 1em;
}

#presentation article h3 {
  color: #200F02;
  font-weight: 700;
  text-align: center;
  padding: 1em;
}

#presentation article p {
  color: white;
}

.thumb {
  max-width: 100%;
  background-color: white;
  padding: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#booking fieldset,
#delivery fieldset {
  border: 1px solid #3E230F;
  border-radius: 1em;
  width: 60%;
  margin: 0 auto 1em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

#booking fieldset p,
#delivery fieldset p {
  display: flex;
}

#booking fieldset legend,
#delivery fieldset legend {
  font-family: 'Cinzel Decorative', cursive;
}

#booking fieldset label,
#delivery fieldset label {
  text-align: right;
  padding-right: 1em;
}

#booking fieldset input,
#delivery fieldset input {
  border: 1px solid #3E230F;
}

#booking fieldset textarea,
#delivery fieldset textarea {
  border: 1px solid #3E230F;
}

#booking fieldset button,
#delivery fieldset button {
  border: 1px solid #3E230F;
}
/*# sourceMappingURL=main.css.map */